{% extends 'base.html' %}
{% load extensions %}

{% block title %}Biblior: Личный кабинет{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="child-center">
            <div class="personal-area cblock">
                <div class="content">
                    <h2 class="ui center aligned header">Личный кабинет</h2>
                    <h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
                    <div class="ui sixteen wide">
                        <a href="{% url 'accounts:change_password' %}" class="medium ui primary button">
                            Изменить пароль
                        </a>
                    </div>
                    <h3 class="ui header aligned center">История</h3>
                    <form class="ui form">
                        <div class="field">
                            <label>Поиск</label>
                            <input type="text" name="search_cite" placeholder="Введите поисковой запрос..."
                                   {% if query %}value="{{ query }}"{% endif %}>
                            <button class="ui compact icon button primary">
                                <i class="search icon"></i>
                            </button>
                        </div>

                    </form>
                    <div id="pubs-history">
                        <div id="pubs-items">
                            {% if pubs|length > 0 %}

                                <table class="ui celled table">
                                    <thead>
                                    <tr>
                                        <th>Библиографическая ссылка</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for pub in pubs|maxlength:40 %}
                                        <tr>
                                            <td data-type="gost">{{ pub.get_gost }}</td>
                                            <td><a data-type="copybtn"><i class="copy right icon"></i></a></td>
                                            <td>
                                                <a href="{% url 'pub:cite' %}?type={{ pub.type }}&doi={{ pub.doi }}&source=personal-area"><i
                                                        class="edit right icon"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            {% elif query %}
                                <h4 class="ui header aligned center">Публикаций не найдено</h4>
                            {% else %}
                                <h4 class="ui header aligned center">В истории пока ничего нет</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('a[data-type=copybtn]').click(function () {
                var text = $(this).closest('tr').find('td[data-type=gost]').text();
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val(text).select();
                document.execCommand("copy");
                $temp.remove();

            });
            setupSearch();

            function setupSearch() {
                $('form').submit(function (e) {
                    e.preventDefault();
                    var query = $('input[name=search_cite]').val();
                    $('#pubs-history').load('{% url 'accounts:personal_area' %}?query=' + query + ' #pubs-items');
                });
            }
        });
    </script>
{% endblock %}