{% extends 'base.html' %}

{% block title %}Biblior{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="child-center">
            <div class="paper cblock">
                <div class="content">
                    <div class="child-center">
                        <div class="form">
                            <h2 class="ui center aligned header">Создание цитаты</h2>
                            <div class="ui sixteen wide scholar-link">
                                <a href="https://scholar.google.com/scholar?hl=ru&as_sdt=0%2C5&q={{ doi }}">Найти в
                                    Google Scholar</a>
                            </div>
                            <form action="{% url 'main:create_citation' %}" class="ui form remove-empty-values">
                                <div class="field">
                                    <label>Название публикации</label>
                                    <textarea name="title" rows="2">{{ publication.title }}</textarea>
                                </div>
                                {% if type == 'book' %}
                                    <div class="field">
                                        <label>Издатель</label>
                                        <textarea name="title" rows="2">{{ publication.publisher }}</textarea>
                                    </div>
                                {% endif %}
                                <div class="field">
                                    <label>Авторы</label>
                                    <textarea name="author" rows="2">{{ publication.author }}</textarea>
                                </div>
                                {% if type == 'journal-article' or type == 'book-chapter' %}
                                    <div class="field">
                                        <label>{% if type == 'journal-article' %}Журнал{% else %}
                                            Сборник{% endif %}</label>
                                        <textarea name="container_title"
                                                  rows="1">{{ publication.container_title }}</textarea>
                                    </div>
                                    <div class="four fields">
                                        <div class="field">
                                            <label>Год</label>
                                            <input name="year" value="{{ publication.issued }}">
                                        </div>
                                        <div class="field">
                                            <label>Том</label>
                                            <input name="volume" value="{{ publication.volume }}">
                                        </div>
                                        <div class="field">
                                            <label>Номер</label>
                                            <input name="issue" value="{{ publication.issue }}">
                                        </div>
                                        <div class="field">
                                            <label>Страницы</label>
                                            <input name="page" value="{{ publication.page }}">
                                        </div>
                                    </div>
                                {% elif type == 'book' %}
                                    <div class="two fields">
                                        <div class="field">
                                            <label>Том</label>
                                            <input name="volume" value="{{ publication.volume }}">
                                        </div>
                                        <div class="field">
                                            <label>Год</label>
                                            <input name="year" value="{{ publication.issued }}">
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="child-center">
                                    <button class="large ui primary button">
                                        Обновить цитату
                                    </button>
                                </div>
                            </form>
                            <div class="ui form">
                                <div class="field">
                                    <label>Результат</label>
                                    <textarea name="citation" rows="6">{{ gost }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            var $input_search_type = $('input[name=search_type]');
            $('.ui.menu .item').click(function () {
                $input_search_type.val($(this).attr('data-value'));
                $(this).closest('div').find('.active').removeClass('active');
                $(this).addClass('active');
            });
            $('button').click(function () {
                $(this).addClass('loading')
            });
            $('.remove-empty-values').submit(function () {
                $(this).find(':input').filter(function () {
                    return !this.value;
                }).attr('disabled', 'disabled');
                return true; // make sure that the form is still submitted
            });
        })
    </script>
{% endblock %}