{% extends 'base.html' %}

{% block title %}Biblior{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="child-center">
            <div class="paper cblock">
                <div class="content">
                    <div class="child-center">
                        <div class="form">
                            <h2 class="ui center aligned header">Создание цитаты</h2>
                            {% if doi %}
                                <div class="ui sixteen wide scholar-link">
                                    <a href="https://scholar.google.com/scholar?hl=ru&as_sdt=0%2C5&q={{ doi }}"
                                       target="_blank">Найти в
                                        Google Scholar</a>
                                </div>
                                <div class="ui sixteen wide scholar-link">
                                    <a href="http://dx.doi.org/{{ doi }}" target="_blank">Открыть оригинал статьи</a>
                                </div>
                            {% endif %}

                            <div id="loader" {% if not pub and doi %}{% else %}class="hide"{% endif %}>
                                <div class="ui active inverted dimmer">
                                    <div class="ui medium text loader">Загрузка...</div>
                                </div>
                                <p></p>
                            </div>
                            <div id="pub_type" class="ui four item menu">
                                <input type="hidden" name="pub_type" value="
                                        {% if doi %}{{ type }}{% else %}{{ type|default_if_none:'journal-article' }}{% endif %}">
                                <a class="{% if type == 'journal-article' or not type and not doi %}active{% endif %} item"
                                   data-value="journal-article">Статья</a>
                                <a class="{% if type == 'book' %}active{% endif %} item" data-value="book">Книга</a>
                                <a class="{% if type == 'book-chapter' %}active{% endif %} item"
                                   data-value="book-chapter">В сборнике</a>
                                <a class="{% if type == 'web' %}active{% endif %} item" data-value="web">Web ресурс</a>
                            </div>
                            <div id="cite_template" data-input-name="cite_template" class="ui four item menu">
                                <input type="hidden" name="cite_template" value="gost">
                                <a class="active item" data-value="gost">ГОСТ 2008</a>
                                <a class="item" data-value="apa">APA</a>
                                <a class="item" data-value="harvard">Harvard</a>
                                <a class="item" data-value="ieee">ieee</a>
                            </div>
                            <form action=""
                                  class="ui form remove-empty-values {% if not custom and pub and doi %}warning{% endif %} error">
                                {% csrf_token %}
                                <input type="hidden" name="type" value="
                                        {% if doi %}{{ type }}{% else %}{{ type|default_if_none:'journal-article' }}{% endif %}">
                                <input type="hidden" name="id" {% if pub_id %}value="{{ pub_id }}"{% endif %}>
                                <input type="hidden" name="doi" {% if doi %}value="{{ doi }}"{% endif %}>
                                <div class="ui warning message">
                                    <div class="header">Это редактированная версия публикации.</div>
                                    <ul class="list">
                                        <li><a href="{% url 'pub:cite' %}?type={{ type }}&doi={{ doi }}">Загрузить
                                            оригинал</a></li>
                                    </ul>
                                </div>
                                {% if type == 'journal-article' or not type and not doi %}
                                    <input type="hidden" name="publisher"
                                           value="{{ pub.publisher|default_if_none:"" }}">
                                    <input type="hidden" name="accessed" value="{{ pub.accessed|default_if_none:"" }}">
                                    <input type="hidden" name="url" value="{{ pub.url|default_if_none:"" }}">
                                    <div id="journal-article-form">
                                        <div class="field">
                                            <label>Название публикации</label>
                                            <textarea name="title"
                                                      rows="2">{{ pub.title|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="toSentence">Как в предложении</a>
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label>Авторы</label>
                                            <textarea name="author"
                                                      rows="2">{{ pub.author|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="fixRegistr">Исправить регистр</a>
                                            </div>
                                            <div id="author-error" class="ui error message hide">
                                                <div class="header">Ошибка</div>
                                                <p>Авторы должны быть указаны в виде: Иванов П.А, Петров З.В.</p>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Журнал</label>
                                            <textarea name="container_title"
                                                      rows="1">{{ pub.container_title|default_if_none:"" }}</textarea>
                                        </div>
                                        <div class="four fields">
                                            <div class="field">
                                                <label>Год</label>
                                                <input name="issued" value="{{ pub.issued|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Том</label>
                                                <input name="volume" value="{{ pub.volume|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Номер</label>
                                                <input name="issue" value="{{ pub.issue|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Страницы</label>
                                                <input name="page" value="{{ pub.page|default_if_none:"" }}">
                                            </div>
                                        </div>
                                    </div>
                                {% elif type == "book" %}
                                    <input type="hidden" name="container_title"
                                           value="{{ pub.container_title|default_if_none:"" }}">
                                    <input type="hidden" name="accessed" value="{{ pub.accessed|default_if_none:"" }}">
                                    <input type="hidden" name="url" value="{{ pub.url|default_if_none:"" }}">
                                    <div id="book-form">
                                        <div class="field">
                                            <label>Название книги</label>
                                            <textarea name="title"
                                                      rows="2">{{ pub.title|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="toSentence">Как в предложении</a>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Издатель</label>
                                            <textarea name="publisher"
                                                      rows="2">{{ pub.publisher|default_if_none:"" }}</textarea>
                                        </div>
                                        <div class="field">
                                            <label>Авторы</label>
                                            <textarea name="author"
                                                      rows="2">{{ pub.author|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="fixRegistr">Исправить регистр</a>
                                            </div>
                                            <div id="author-error" class="ui error message hide">
                                                <div class="header">Ошибка</div>
                                                <p>Авторы должны быть указаны в виде: Иванов П.А, Петров З.В.</p>
                                            </div>
                                        </div>
                                        <input type="hidden" name="issue" value="{{ pub.issue|default_if_none:"" }}">
                                        <div class="three fields">
                                            <div class="field">
                                                <label>Том</label>
                                                <input name="volume" value="{{ pub.volume|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Год</label>
                                                <input name="issued" value="{{ pub.issued|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Кол-во страниц</label>
                                                <input name="page" value="{{ pub.page|default_if_none:"" }}">
                                            </div>
                                        </div>
                                    </div>
                                {% elif type == 'book-chapter' %}
                                    <input type="hidden" name="publisher"
                                           value="{{ pub.publisher|default_if_none:"" }}">
                                    <input type="hidden" name="accessed" value="{{ pub.accessed|default_if_none:"" }}">
                                    <input type="hidden" name="url" value="{{ pub.url|default_if_none:"" }}">
                                    <div id="book-chapter-form">
                                        <div class="field">
                                            <label>Название публикации</label>
                                            <textarea name="title"
                                                      rows="2">{{ pub.title|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="toSentence">Как в предложении</a>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Авторы</label>
                                            <textarea name="author"
                                                      rows="2">{{ pub.author|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="fixRegistr">Исправить регистр</a>
                                            </div>
                                            <div id="author-error" class="ui error message hide">
                                                <div class="header">Ошибка</div>
                                                <p>Авторы должны быть указаны в виде: Иванов П.А, Петров З.В.</p>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Сборник</label>
                                            <textarea name="container_title"
                                                      rows="1">{{ pub.container_title|default_if_none:"" }}</textarea>
                                        </div>
                                        <div class="four fields">
                                            <div class="field">
                                                <label>Год</label>
                                                <input name="issued" value="{{ pub.issued|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Том</label>
                                                <input name="volume" value="{{ pub.volume|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Номер</label>
                                                <input name="issue" value="{{ pub.issue|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Страницы</label>
                                                <input name="page" value="{{ pub.page|default_if_none:"" }}">
                                            </div>
                                        </div>
                                    </div>
                                {% elif type == 'web' %}
                                    <input type="hidden" name="container_title"
                                           value="{{ pub.container_title|default_if_none:"" }}">
                                    <input type="hidden" name="page" value="{{ pub.page|default_if_none:"" }}">
                                    <input type="hidden" name="issue" value="{{ pub.issue|default_if_none:"" }}">
                                    <input type="hidden" name="volume" value="{{ pub.volume|default_if_none:"" }}">
                                    <div id="web">
                                        <div class="field">
                                            <label>Название статьи</label>
                                            <textarea name="title"
                                                      rows="2">{{ pub.title|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="toSentence">Как в предложении</a>
                                            </div>
                                        </div>
                                        <div data-show="apa,ieee,harvard" class="field hide hide-manage">
                                            <label>Авторы</label>
                                            <textarea name="author"
                                                      rows="2">{{ pub.author|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="fixRegistr">Исправить регистр</a>
                                            </div>
                                            <div id="author-error" class="ui error message hide">
                                                <div class="header">Ошибка</div>
                                                <p>Авторы должны быть указаны в виде: Иванов П.А, Петров З.В.</p>
                                            </div>
                                        </div>
                                        <div data-show="gost" class="field hide-manage">
                                            <label>Название сайта</label>
                                            <textarea name="publisher"
                                                      rows="1">{{ pub.publisher|default_if_none:"" }}</textarea>
                                        </div>
                                        <div class="field">
                                            <label>Ссылка</label>
                                            <input name="url" value="{{ pub.url|default_if_none:"" }}">
                                        </div>
                                        <div data-show="ieee,harvard" class="field hide hide-manage">
                                            <label>Год публикации</label>
                                            <input name="issued" value="{{ pub.issued|default_if_none:"" }}">
                                        </div>
                                        <div class="field">
                                            <label>Дата обращения</label>
                                            <input name="accessed" value="{{ pub.accessed|default_if_none:"" }}">
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="child-center">
                                    <button id="update-cite" class="large ui primary button">
                                        Обновить цитату
                                    </button>
                                </div>
                            </form>
                            <div class="ui form">
                                <div class="field">
                                    <label>Результат</label>
                                    <textarea name="result" rows="6"></textarea>
                                </div>
                                <div class="child-center">
                                    <a id="translitbtn" class="large ui primary button">
                                        Транслит
                                    </a>
                                    <a id="copy-btn" onclick="copyToClipboard()" class="large ui primary button">
                                        Скопировать
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            var type = $('input[name=pub_type]').val()
            var doi = '{{ doi }}'
            var $title, $author, $issued, $volume, $result, $publisher, $issue, $container, $page, $accessed,
                $url;
            setupForm();
            setupChangePubType();

            var $author_error = $('#author-error');

            function setupForm() {

                $title = $('[name=title]');
                $author = $('[name=author]');
                $issued = $('[name=issued]');
                $volume = $('[name=volume]');
                $result = $('[name=result]');
                $publisher = $('[name=publisher]');
                $issue = $('[name=issue]');
                $container = $('[name=container_title]');
                $page = $('[name=page]');
                $accessed = $('input[name=accessed]');
                $url = $('input[name=url]');

                $author.on('keyup', function () {
                    checkAuthor();
                });
                updateDate();

                // Сохранение цитаты если авторизован
                $('form').submit(function (e) {
                    e.preventDefault();
                    {% if request.user.is_authenticated %}
                        var data = $('form').serializeArray();
                        $.post({url: '{% url 'pub:save_cite' %}', data: data});
                    {% endif %}
                });
                $('#update-cite').click(function () {
                    updateCite();
                });
            }


            $('#cite_template .item').click(function () {
                var template = $(this).closest('div').find('input').val();
                $('.hide-manage').each(function (index) {
                    if ($(this).attr('data-show').includes(template)) {
                        $(this).removeClass('hide');
                    } else {
                        $(this).addClass('hide');
                    }
                });
                updateCite();

            });

            $('#toSentence').click(function () {
                var title = $title.val().toLowerCase();
                title = title[0].toUpperCase() + title.slice(1);
                $title.val(title);
            });

            $('#fixRegistr').click(function () {
                var authors = $author.val().split(', ');
                authors.forEach(function (v, i, a) {
                    var parts = v.split(' ');
                    parts[0] = parts[0][0].toUpperCase() + parts[0].slice(1).toLowerCase();
                    parts[1] = parts[1].toUpperCase();
                    a[i] = parts.join(' ');
                });

                $author.val(authors.join(', '));
                checkAuthor()
            });

            // Транслит
            $('#translitbtn').click(function () {
                $result.val(rus_to_latin($result.val()))
            });

            // Загрузка публикации
            {% if not pub and doi %}
                var interval = setInterval(checkResult, 500);
            {% endif %}
            var counter = 0;

            function checkResult() {
                $.get("{% url 'pub:result' %}", function (data) {
                    counter++;
                    if (counter > 7) {
                        clearInterval(interval);
                        $('#loader').addClass('hide');
                    }
                    if (data['status']) {
                        $('#loader').addClass('hide');
                        clearInterval(interval);
                        $result.text(data['gost']);
                        var pub = data['publication'];
                        if (pub['type'] !== type) {
                            console.log('aa')
                            window.location.href = `/publication/?doi=${doi}&type=${pub['type']}`
                        }
                        $title.text(pub['title']);
                        $author.text(pub['author']);
                        $issued.val(pub['issued']);
                        $volume.val(pub['volume']);
                        $publisher.text(pub['publisher']);
                        $issue.val(pub['issue']);
                        $container.text(pub['container_title']);
                        $page.val(pub['page']);
                        updateCite();
                    }
                })
            }

            function updateCite() {
                type = $('input[name=pub_type]').val()
                var cite_template = $('input[name=cite_template]').val();
                $result.val(cite_formatter[cite_template][type]($author.val(),
                    $title.val(), $container.val(), $issued.val(), $volume.val(),
                    $issue.val(), $page.val(), $publisher.val(), $url.val(), $accessed.val()))
            }

            function checkAuthor() {
                var author = formatAuthor($author.val());
                var regex = /^\p{Lu}\p{Ll}+\s(\p{Lu}\.){0,3}(,\s\p{Lu}\p{Ll}+\s(\p{Lu}\.){0,3})*$/u;
                if (regex.test(author))
                    $author_error.addClass('hide');
                else
                    $author_error.removeClass('hide');
            }

            function updateDate() {
                // Установка текущей даты в Дату обращения
                var now = new Date();
                const ye = new Intl.DateTimeFormat('en', {year: 'numeric'}).format(now);
                const mo = new Intl.DateTimeFormat('en', {month: '2-digit'}).format(now);
                const da = new Intl.DateTimeFormat('en', {day: '2-digit'}).format(now);
                if (type === 'web' && $accessed.val().length === 0)
                    $accessed.val(`${da}.${mo}.${ye}`);
            }

            function changePubType(type) {
                var $form = $('form');
                var data = $form.serializeArray();
                var url = window.location.toString();
                if (url.includes('type')) {
                    var start = url.indexOf('type=') + 5;
                    var end = url.indexOf('&', start);
                    if (end < 0)
                        end = url.length;
                    url = url.replace(url.substr(start, end - start), type);
                } else {
                    if (url.includes('?'))
                        url += '&type=' + type;
                    else
                        url += '?type=' + type;
                }
                type = $(this).attr('data-value');
                /*window.location = url;
                $('#loader').removeClass('hide');*/
                $form.load(url + ' form', data, function () {

                    setupForm();
                    updateCite()
                });
                window.history.replaceState(null, null, url);
                //$.post({url: '{% url 'pub:cite' %}?change-to=' + $(this).attr('data-value'), data: data});
            }

            function setupChangePubType() {
                // Смена типа публикации
                $('#pub_type .item').click(function () {
                    changePubType($(this).attr('data-value'))
                });
            }
            {% if pub_id %}
                updateCite()
            {% endif %}
        });


        function copyToClipboard() {
            var text = $('textarea[name=result]').val();
            console.log(text)
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(text).select();
            document.execCommand("copy");
            $temp.remove();
        }


    </script>
{% endblock %}