{% extends 'base.html' %}

{% block title %}Biblior{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="child-center">
            <div class="paper cblock">
                <div class="content">
                    <div class="child-center">
                        <div class="form">
                            <h2 class="ui center aligned header">Создание цитаты</h2>
                            {% if doi %}
                                <div class="ui sixteen wide scholar-link">
                                    <a href="https://scholar.google.com/scholar?hl=ru&as_sdt=0%2C5&q={{ doi }}"
                                       target="_blank">Найти в
                                        Google Scholar</a>
                                </div>
                            {% endif %}
                            {% if not pub and doi %}
                                <div id="loader">
                                    <div class="ui active inverted dimmer">
                                        <div class="ui medium text loader">Публикация загружается...</div>
                                    </div>
                                    <p></p>
                                </div>
                            {% endif %}
                            <div id="pub_type" class="ui three item menu">
                                <input type="hidden" name="pub_type" value="journal-article">
                                <a class="{% if type == 'journal-article' or not type and not doi %}active{% endif %} item"
                                   data-value="journal-article">Статья</a>
                                <a class="{% if type == 'book' %}active{% endif %} item" data-value="book">Книга</a>
                                <a class="{% if type == 'book-chapter' %}active{% endif %} item"
                                   data-value="book-chapter">В сборнике</a>
                            </div>
                            <div data-input-name="cite_template" class="ui four item menu">
                                <input type="hidden" name="cite_template" value="gost">
                                <a class="active item" data-value="gost">ГОСТ 2008</a>
                                <a class="item" data-value="apa">APA</a>
                                <a class="item" data-value="harvard">Harvard</a>
                                <a class="item" data-value="ieee">ieee</a>
                            </div>
                            <form action=""
                                  class="ui form remove-empty-values {% if not custom and pub and doi %}warning{% endif %}">
                                {% csrf_token %}
                                <input type="hidden" name="type" value="{{ type }}">
                                <input type="hidden" name="doi" value="{{ doi }}">
                                <div class="ui warning message">
                                    <div class="header">Это редактированная версия публикации.</div>
                                    <ul class="list">
                                        <li><a href="{% url 'pub:cite' %}?type={{ type }}&doi={{ doi }}">Загрузить
                                            оригинал</a></li>
                                    </ul>
                                </div>
                                {% if type == 'journal-article' or not type and not doi %}
                                    <input type="hidden" name="publisher"
                                           value="{{ pub.publisher|default_if_none:"" }}">
                                    <div id="journal-article-form">
                                        <div class="field">
                                            <label>Название публикации</label>
                                            <textarea name="title"
                                                      rows="2">{{ pub.title|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="toSentence">Как в предложении</a>
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label>Авторы</label>
                                            <textarea name="author"
                                                      rows="2">{{ pub.author|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="fixRegistr">Исправить регистр</a>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Журнал</label>
                                            <textarea name="container_title"
                                                      rows="1">{{ pub.container_title|default_if_none:"" }}</textarea>
                                        </div>
                                        <div class="four fields">
                                            <div class="field">
                                                <label>Год</label>
                                                <input name="issued" value="{{ pub.issued|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Том</label>
                                                <input name="volume" value="{{ pub.volume|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Номер</label>
                                                <input name="issue" value="{{ pub.issue|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Страницы</label>
                                                <input name="page" value="{{ pub.page|default_if_none:"" }}">
                                            </div>
                                        </div>
                                    </div>
                                {% elif type == "book" %}
                                    <input type="hidden" name="container_title"
                                           value="{{ pub.container_title|default_if_none:"" }}">
                                    <div id="book-form">
                                        <div class="field">
                                            <label>Название книги</label>
                                            <textarea name="title"
                                                      rows="2">{{ pub.title|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="toSentence">Как в предложении</a>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Издатель</label>
                                            <textarea name="publisher"
                                                      rows="2">{{ pub.publisher|default_if_none:"" }}</textarea>
                                        </div>
                                        <div class="field">
                                            <label>Авторы</label>
                                            <textarea name="author"
                                                      rows="2">{{ pub.author|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="fixRegistr">Исправить регистр</a>
                                            </div>
                                        </div>
                                        <input type="hidden" name="issue" value="{{ pub.issue|default_if_none:"" }}">
                                        <input type="hidden" name="page" value="{{ pub.page|default_if_none:"" }}">
                                        <div class="two fields">
                                            <div class="field">
                                                <label>Том</label>
                                                <input name="volume" value="{{ pub.volume|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Год</label>
                                                <input name="issued" value="{{ pub.issued|default_if_none:"" }}">
                                            </div>
                                        </div>
                                    </div>
                                {% elif type == 'book-chapter' %}
                                    <input type="hidden" name="publisher"
                                           value="{{ pub.publisher|default_if_none:"" }}">
                                    <div id="book-chapter-form">
                                        <div class="field">
                                            <label>Название публикации</label>
                                            <textarea name="title"
                                                      rows="2">{{ pub.title|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="toSentence">Как в предложении</a>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Авторы</label>
                                            <textarea name="author"
                                                      rows="2">{{ pub.author|default_if_none:"" }}</textarea>
                                            <div class="sixteen wide">
                                                <a id="fixRegistr">Исправить регистр</a>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Сборник</label>
                                            <textarea name="container_title"
                                                      rows="1">{{ pub.container_title|default_if_none:"" }}</textarea>
                                        </div>
                                        <div class="four fields">
                                            <div class="field">
                                                <label>Год</label>
                                                <input name="issued" value="{{ pub.issued|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Том</label>
                                                <input name="volume" value="{{ pub.volume|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Номер</label>
                                                <input name="issue" value="{{ pub.issue|default_if_none:"" }}">
                                            </div>
                                            <div class="field">
                                                <label>Страницы</label>
                                                <input name="page" value="{{ pub.page|default_if_none:"" }}">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="child-center">
                                    <button id="update-cite" class="large ui primary button">
                                        Обновить цитату
                                    </button>
                                </div>
                            </form>
                            <div class="ui form">
                                <div class="field">
                                    <label>Результат</label>
                                    <textarea name="result" rows="6"></textarea>
                                </div>
                                <div class="child-center">
                                    <a id="translitbtn" class="large ui primary button">
                                        Транслит
                                    </a>
                                    <a onclick="copyToClipboard()" class="large ui primary button">
                                        Скопировать
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            var type = '{{ type }}';
            var $title = $('[name=title]');
            var $author = $('[name=author]');
            var $issued = $('[name=issued]');
            var $volume = $('[name=volume]');
            var $result = $('[name=result]');
            var $publisher = $('[name=publisher]');
            var $issue = $('[name=issue]');
            var $container = $('[name=container_title]');
            var $page = $('[name=page]');
            setupChangePubType();

            $('.ui.menu .item').click(function () {
                updateCite();
            });

            $('#toSentence').click(function () {
                var title = $title.val().toLowerCase();
                title = title[0].toUpperCase() + title.slice(1);
                $title.val(title);
            });

            $('#fixRegistr').click(function () {
                var authors = $author.val().split(', ');
                authors.forEach(function (v, i, a) {
                    var parts = v.split(' ');
                    parts[0] = parts[0][0].toUpperCase() + parts[0].slice(1).toLowerCase();
                    parts[1] = parts[1].toUpperCase();
                    a[i] = parts.join(' ');
                });

                $author.val(authors.join(', '));
            });

            // Сохранение цитаты если авторизован
            $('form').submit(function (e) {
                e.preventDefault();
                {% if request.user.is_authenticated %}
                    var data = $('form').serializeArray();
                    $.post({url: '{% url 'pub:save_cite' %}', data: data});
                {% endif %}
            });
            $('#update-cite').click(function () {
                updateCite();
            });
            // Транслит
            $('#translitbtn').click(function () {
                $result.val(rus_to_latin($result.val()))
            });

            // Загрузка публикации
            {% if not pub and doi %}
                var interval = setInterval(checkResult, 500);
            {% endif %}
            var counter = 0;

            function checkResult() {
                $.get("{% url 'pub:result' %}", function (data) {
                    counter++;
                    if (counter > 7) {
                        clearInterval(interval);
                        $('#loader').addClass('hide');
                    }
                    if (data['status']) {
                        $('#loader').addClass('hide');
                        clearInterval(interval);
                        $result.text(data['gost']);
                        var pub = data['publication'];
                        $title.text(pub['title']);
                        $author.text(pub['author']);
                        $issued.val(pub['issued']);
                        $volume.val(pub['volume']);
                        $publisher.text(pub['publisher']);
                        $issue.val(pub['issue']);
                        $container.text(pub['container_title']);
                        $page.val(pub['page']);
                        updateCite();
                    }
                })
            }

            function updateCite() {
                var cite_template = $('input[name=cite_template]').val();

                $result.val(cite_formatter[cite_template][type]($author.val(),
                    $title.val(), $container.val(), $issued.val(), $volume.val(),
                    $issue.val(), $page.val(), $publisher.val()))
            }
        });


        function copyToClipboard() {
            var text = $('[name=result]').text();
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(text).select();
            document.execCommand("copy");
            $temp.remove();
        }

        function setupChangePubType() {
            // Смена типа публикации
            $('#pub_type .item').click(function () {
                var $form = $('form');
                var data = $form.serializeArray();
                var url = window.location.toString();
                if (url.includes('type')) {
                    var start = url.indexOf('type=') + 5;
                    var end = url.indexOf('&', start);
                    if (end < 0)
                        end = url.length;
                    url = url.replace(url.substr(start, end - start), $(this).attr('data-value'));
                } else
                    url += '?type=' + $(this).attr('data-value');
                $form.load(url + ' form', data);
                window.history.replaceState(null, null, url);
                //$.post({url: '{% url 'pub:cite' %}?change-to=' + $(this).attr('data-value'), data: data});
            });
        }

    </script>
{% endblock %}