{% extends 'base.html' %}
{% load static %}

{% block title %}Biblior{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="child-center">
            <div class="papers cblock">
                <div class="content">
                    <h1 class="ui center aligned header">Результаты поиска</h1>
                    <div class="results">
                        <table class="ui celled table">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Авторы</th>
                                {% if type == 'journal-article' %}
                                    <th>Журнал</th>
                                {% else %}
                                    <th>Издатель</th>
                                {% endif %}
                                <th>Год</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="results-rows">
                            <tr id="row-template" class="hide" data-pages="">
                                <td data-name="title" data-label="Название"></td>
                                <td data-name="author" data-label="Авторы"></td>
                                <td data-name="container" data-label="Журнал"></td>
                                <td data-name="issued" data-label="Год"></td>
                                <td data-label="">
                                    <form action="{% url 'pub:cite' %}" method="get">
                                        <input type="hidden" name="type" value="{{ type }}">
                                        <input type="hidden" name="doi" value="">
                                        <button class="borderless"><i class="quote right icon"></i></button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="loader" class="loader-placeholder">
                        <div class="ui active inverted dimmer">
                            <div class="ui large text loader">Поиск публикаций...</div>
                        </div>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            var interval;
            var counter = 0;
            var state = window.history.state;
            console.log(state);
            if (state != null && state !== "null"){
                insertPubs(state['pubs']);
            } else {
                interval = setInterval(checkResult, 1000);
            }

            function checkResult() {
                $.get("{% url 'pub:list_result' %}", function (data) {
                    counter++;
                    if (counter > 15)
                        clearInterval(interval);
                    if (data['status']) {
                        clearInterval(interval);
                        insertPubs(data['publications']);

                        window.history.replaceState({pubs: data['publications']}, "Publications loaded", '#loaded');
                    }
                })
            }

            function insertPubs(pubs) {
                $('#loader').addClass('hide');
                var $template = $('#row-template').clone().attr('id', '').removeClass('hide');
                var $result_rows = $('#results-rows');
                pubs.forEach(function (pub, i, arr) {
                    var $item = $template.clone();
                    $item.find('td[data-name=title]').text(pub['title']);
                    $item.find('td[data-name=author]').text(pub['author']);
                    $item.find('td[data-name=issued]').text(pub['issued']);
                    var container = pub['container_title'];
                    if (pub['volume'].length > 0)
                        container += ' Том: ' + pub['volume'];
                    if (pub['issue'].length > 0)
                        container += ' №' + pub['issue'];
                    $item.find('td[data-name=container]').text(container);
                    $item.find('input[name=doi]').val(pub['doi']);
                    $item.appendTo($result_rows);
                });
            }
        })
    </script>
{% endblock %}